{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

	<h5>{{ name }}</h5>

  {% if tracks %}
  
		<table>	  	
	  	{% for i in tracks %}
	  		<tr>
	  			<td><img src="{{ i.image_url }}"></td>
	  			<!-- <td>{{ i.track_id }}</td> -->
	  			<td>{{ i.track_name }}</td>
	  			<td>{{ i.artist_name }}</td>
	  			<td>{{ i.album_name }}</td>
		  		<td>	
		  			<form method=post>
							<button type=submit name="dislike" value="{{ i.track_id }}">Dislike</button> 
						</form>
					</td>
					<td>	
			  		<form method=post>
							<button type=submit name="like" value="{{ i.track_id }}">Like</button> 
						</form>
					</td>
	  		</tr>
	  	{% endfor %}
	  </table>

	  <form method=post>
	  	<button type="submit" name="search" value="123">Add new track</button>
	  </form>

  {% else %}
  	<h1>Error!</h1>
  {% endif %}
{% endblock %}